.about {
  z-index: 5000;
  background-image: url('../images/about/bg-left.png'), url('../images/about/bg-center.png'),
    url('../images/about/bg-left2.png');
  background-repeat: no-repeat;
  background-position: -140px 0, 100% 55%, -180px 120%;

  &__container {
    margin-top: -170px;
    margin-bottom: -100px;
    // z-index: 10000;
  }

  &__list{
    display: flex;
    flex-direction: column;
    gap: 50px;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-radius: 25px;
    background: #FFF;
  }

  &__info {
    // padding: 140px, 110px, 160px, 0;
    margin-top: 140px;
    margin-left: 110px;
    margin-right: 110px;
    margin-bottom: 160px;
    width: 450px;
  }

  &__title {
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    display: block;
    line-height: normal;
    margin-bottom: 20px;
  }

    &__title-numerous {
      background-color: #A59DFF;
      background: linear-gradient(98deg, #21D8C3 -1.17%, #AEF0E9 96.66%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
    }

    &__title-rewarding {
    background-color: #A59DFF;
    background: linear-gradient(98deg, #EEBB4C 2.58%, #EBDB89 98.73%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    }

    &__title-ambassador {
      background-color: #A59DFF;
      background: linear-gradient(99deg, #5652CA 0%, #8262DF 83.64%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
    }

  &__text {
    color: #0E0D11;
    font-family: Inter;
    font-size: 16px;
    line-height: 24px;
  }

  &__image {
    padding: 0 65px 0 65px;

  }
}

.title {
  color: #FFF;
  text-align: center;
  font-family: Rubik;
  font-size: 36px;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 50px;
}