<section class="about">
  <div class="container about__container">
    <h2 class="title">Apply to Join the InvArch Ambassador Program Today!</h2>
    <ul class="about__list">
      <li class="about__item">
        <div class="about__info">
          <h3 class="about__title about__title-numerous">Numerous
            Opportunities</h3>
          <p class="about__text">DAOs on the InvArch Network can easily connect with DID solutions & virtual machines on
            external blockchains.</p>
        </div>
        <div class="about__image"><img src="/src/images/about/numerous.png"></div>
      </li>
      <li class="about__item">
        <div class="about__image"><img src="/src/images/about/rewarding.png"></div>
        <div class="about__info">
          <h3 class="about__title about__title-rewarding">Rewarding &
            Insightful</h3>
          <p class="about__text">DAOs on the InvArch Network can easily connect with DID solutions & virtual machines on
            external blockchains.</p>
        </div>
      </li>
      <li class="about__item">
        <div class="about__info">
          <h3 class="about__title about__title-ambassador">Ambassador
            Controlled</h3>
          <p class="about__text">DAOs on the InvArch Network can easily connect with DID solutions & virtual machines on
            external blockchains.</p>
        </div>
        <div class="about__image"><img src="/src/images/about/ambassador.png"></div>
      </li>
    </ul>

  </div>
</section>