<section class="community">
  <div class="community__container container">
    <h3 class="community__title">We don’t want your email, but we’d
    love you to join our community!</h3>
    <ul class="community__list">
      <li class="community__item">
        <div class="community__logo">
          <svg class="community__icon" width="51" height="41">
            <use href="/src/images/community/symbol-defs-community.svg#icon-Twitter"></use>
          </svg>
          <p class="community__text">Twitter</p>
        </div>
          <a class="community__link">Follow</a>
      </li>
      <li class="community__item">
        <div class="community__logo">
          <svg class="community__icon" width="54" height="42">
            <use href="/src/images/community/symbol-defs-community.svg#icon-Discord"></use>
          </svg>
          <p class="community__text">Discord</p>
        </div>
        <a class="community__link">Join</a>
      </li>
      <li class="community__item">
        <div class="community__logo">
          <svg class="community__icon" width="46" height="46">
            <use href="/src/images/community/symbol-defs-community.svg#icon-Telegram"></use>
          </svg>
          <p class="community__text">Telegram</p>
        </div>
        <a class="community__link">Join</a>
      </li>
      <li class="community__item">
        <div class="community__logo">
          <svg class="community__icon" width="62" height="35">
            <use href="/src/images/community/symbol-defs-community.svg#icon-Medium"></use>
          </svg>
          <p class="community__text">Medium</p>
        </div>
        <a class="community__link">Subscribe</a>
      </li>
    </ul>

  </div>
</section>