<footer class="footer">
  <div class="container footer__container">
    <picture class="">
      <source srcset="./images/footer/footer-logo.png 1x, ./images/footer/footer-logo@2x.png 2x" media="(min-width:1140px)" />
      <source srcset="
              ./images/footer/footer-logo.png 1x,
              ./images/footer/footer-logo@2x.png 2x
            " media="(max-width:767px)" />
      <img src="./images/footer/footer-logo.png" alt="logo" />
    </picture>
    <nav class="footer__nav">
      <ul class="footer__list">
        <li class="footer__item">
          <a class="footer__link" href="#Technology">Homepage</a>
        </li>
        <li class="footer__item">
          <a class="footer__link" href="#How">Technology</a>
        </li>
        <li class="footer__item">
          <a class="footer__link" href="#Our-products">Community</a>
        </li>
        <li class="footer__item">
          <a class="footer__link" href="#Our-products">Whitepaper</a>
        </li>
        <li class="footer__item">
          <a class="footer__link" href="#Our-products">GitHub</a>
        </li>
        <li class="footer__item">
          <a class="footer__link" href="#Our-products">Saturn SDK</a>
        </li>
      </ul>
    </nav>
  </div>
  <p class="footer__copyright-text">Copyright 2022 The InvArch Association All Rights Reserved</p>
</footer>