
<header class="hat">
  <div class="container header__container">
    <picture class="">
      <source
        srcset="./images/header/heder-logo.png 1x, ./images/header/heder-logo@2.png 2x"
        media="(max-width:1140px)"
      />
      <source
        srcset="
          ./images/header/heder-logo-mobile.png 1x,
          ./images/header/heder-logo-mobile@2x.png 2x
        "
        media="(min-width: 1140px)"
      />
      <img src="./images/header/heder-logo-mobile.png" alt="logo" />
    </picture>
    <div class="wrapper">
       <nav class="nav">
      <ul class="nav__bar-list">
        <li>
          <a class="nav__bar-link" href="#Technology">Technology</a>
        </li>
        <li>
          <a class="nav__bar-link" href="#How">Networks</a>
        </li>
        <li>
          <a class="nav__bar-link" href="#Our-products">Community</a>
        </li>
        <li class="menu-arrow" data-menu-open data-arrow-open data-arrowClose-open>
          <a class="nav__bar-link" href="#Our-products">Resources</a>
          <button type="button" class="arrow-btn">
            <div>
              <svg class="arrow-icon-bottom" data-arrowClose >
              <use href="./images/symbol-defs-icon.svg#icon-arrow-bottom"></use>
            </svg>
            </div>
            <div>
              <svg class="arrow-icon-up" data-arrow>
                <use href="./images/symbol-defs-icon.svg#icon-arrow-up"></use>
              </svg>
            </div>
          </button>
          <div class="mobile-menu" data-menu>
            <div class="container mobile-menu__container">

              <ul class="mobile-menu-list">
                <li class="mobile-menu-item">
                  <a class="mobile-menu-link" href="#Home">InvArch Whitepaper</a>
                </li>
                <li class="mobile-menu-item">
                  <a class="mobile-menu-link" href="#How it’s made?">InvArch GitHub</a>
                </li>
                <li class="mobile-menu-item">
                  <a class="mobile-menu-link" href="#Our-products">Saturn SDK</a>
                </li>
              </ul>
            </div>
          </div>
        </li>
      </ul>
    </nav>
    <button type="button" class="burger-button">
       <svg class="burger-button__burger" data-burger-open>
        <use href="./images/symbol-defs-burger-menu.svg#icon-burger"></use>
      </svg>
    </button>

    <div class="burger-menu" data-burger>
      hello burger menu
    </div>
    
     

</header>
