<section class="hero">
  <div class="container hero__container">
    <div class="hero__content">
      <div class="hero__title">
        <h1 class="hero__titleText">Join a global
      Community
      of over 28,000
      Supporters &
      Counting</h1>
      </div>
      
     <ul class='hero__social-list'>
      <li class='hero__social-item'><a class='hero__social-link'>
        <svg class="hero__social-icon" width="94" height="44">
          <use href="./images/symbol-defs-socials.svg#icon-x"></use>
        </svg>
      </a></li>
      <li class='hero__social-item'><a class='hero__social-link'>
        <svg class="hero__social-icon" width="94" height="44">
          <use href="./images/symbol-defs-socials.svg#icon-telegram"></use>
        </svg>
      </a></li>
      <li class='hero__social-item'><a class='hero__social-link'>
        <svg class="hero__social-icon" width="94" height="44">
          <use href="./images/symbol-defs-socials.svg#icon-discord"></use>
        </svg>
      </a></li>
      <li class='hero__social-item'>
        <a class='hero__social-link'>
        <svg class="hero__social-icon" width="94" height="44">
          <use href="./images/symbol-defs-socials.svg#icon-medium"></use>
        </svg>
       </a>
    </li>
     </ul>
    </div>
  </div>
</section>

